.LeftBox {
  width: 49%;
  display: flex;
}
.lineImages {
  width: 20%;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  padding-left: 18px;
  box-sizing: border-box;
}
.bigImage {
  width: 80%;
}
.bigImage img {
  width: 100%;
  height: auto;
  max-width: 500px;
}
.lineImages img {
  width: 100%;
  height: auto;
  max-width: 85px;
  padding-bottom: 5px;
  cursor: pointer;
}
