.RightBox {
  background-color: yellow;
  width: 49%;
}
h2 {
  margin: 0;
  padding: 0;
}
.smallImagesBox {
  display: flex;
  overflow: hidden;
}

.smallImagesBox img {
  width: 65px;
  height: 65px;
  object-fit: contain;
}

/* 숫자 버튼 */
