.tableAllWrap {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.ant-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
